[Unit]
Description=Easy2TrackTerminal Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
Type=simple
User=pi
WorkingDirectory=/home/pi/easy2track/app
ExecStart=/home/pi/easy2track/setup.sh

[Install]
WantedBy=graphical.target