[Unit]
Description=Easy2TrackTerminal Update Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/easy2track
ExecStart=/home/pi/easy2track/setup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target